.musica-body {
  background: #6E6E6E;
}
.cont-cabecera{
  background: #2E9AFE;
  min-height: 10%;
}
.logo {
  width: 90%;
  margin-bottom: 3%;
}
.logo-redes{
  width: 15%;
}
.cont-redes{
  margin-bottom: 2%;
}
.navbar-inverse {
  background: #08088A;
  color: black;
  min-height: 10%;
  width: 100%;
}
.navbar-inverse a{
  color: #2E9AFE;
}
