/* Estilos para Header */
.turismo-body{
  background: url(../img/fondo_cabecera.jpg) top center,
              url(../img/fondo.jpg) bottom center;
  background-repeat: no-repeat;
  background-size: 100% 95px, 100% 100%;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
}
header img{
  margin-top: 1vw;
  width: 150px;
  opacity: 0.9;
  border-radius: 15px;
  border: 5px solid white;
}
header h4{
  margin-top: 3vw;
}
.bot-nav{
  margin-top: 1vw;
}

/* Estilos para Section */
div[class*="columna"]{
  min-height: 25rem;
}
div img[class*="logo-redes"]{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: 80%;
}
.img-destino3{
  width: 25rem;
}
.img-destino2{
  width: 30rem;
}
.cont-publi{
  padding: 1%;
}
.img-publi{
  margin-top: 6%;
}
.img-autor{
  width: 80%;
  margin: 2%;
}

/* Querie para moviles */
@media (max-width:420px) {
  header img{
    width: 90px;
  }
  header h4{
    font-size: 1.7rem;
    margin-top: 5vw;
  }
}
