/* Estilos para Header */
.turismo-body{
  background: url(../img/fondo_cabecera.jpg) top center,
              url(../img/fondo.jpg) bottom center;
  background-repeat: no-repeat;
  background-size: 100% 95px, 100% 100%;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
}
header img{
  margin-top: 3vw;
  width: 150px;
  border-radius: 15px;
  border: 5px solid white;
}
header h4{
  margin-top: 2.5vw;
}
.bot-nav{
  margin-top: 2vw;
}

/* Estilos para Section */
div[class*="columna"]{
  height: 50rem;
  min-height: 50rem;
}
div[class*="fotos"]{
  height: 25rem;
}


/* Querie para moviles */
@media (max-width:420px) {
  header img{
    width: 120px;
  }
  header h4{
    font-size: 2rem;
    margin-top: 5vw;
  }
}
