/* Estilos para Header */
.gastro-body{
  background: url(../img/fondo.jpg) top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
}
.cont-principal{
  background-color: rgba(245,169,188,0.8);
}
.cont-titulo{
  border-right: 1px solid white;
  padding: 0;
}
hr{
  border-color: white;
}

/* Estilos para Section*/
.col-izq{
  background-color: rgba(154,46,254,0.8);
  padding: 1%;
  border-radius: 10px;
}
.img-lupa{
  padding: 0;
}
.img-lupa img{
  margin-top: 10%;
  width: 60%;
}

/* Querie para celulares */
@media (max-width:420px) {

  }
}
