/* Estilos para Header */
.gastro-body{
  background: url(../img/fondo.jpg) top center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment:fixed;
  width: 100%;
  height: 100%;
}
.cont-principal{
  background-color: rgba(245,169,188,0.8);
}
.cont-titulo{
  border-right: 1px solid white;
  padding: 0;
}
.cont-titulo h6{
  padding-right: 2%;
}
.color-titulo{
  color: #B40431;
}
hr{
  border-color: white;
}

/* Estilos para Section*/
.col-izq{
  background-color: rgba(154,46,254,0.8);
  padding: 1%;
  border-radius: 10px;
  margin-left: 2%;
}
.img-lupa{
  padding: 0;
}
.img-lupa img{
  margin-top: 10%;
  width: 60%;
}
.col-menu{
  padding-left: 0;
  padding-right: 8%;
}
.menu-izq{
  border: solid 1px;
  border-color: rgb(245,169,188);
  text-align:center;
  list-style:none;
  margin: ;
}
.color-link:hover{
  color: black;
}
.color-texto{
  color: rgb(245,169,188);
}
.img-comidas-fav img{
  height: 200px;
  width: 200px;
  border: 2px solid white;

}
.cont-img-fav{
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
.cont-img-fav div{
  padding: 1%;
}
.col-der{
  margin-right: 1%;
}
.cont-publi{
  background-color: #B40431;
  border-radius: 3px;
}
.cont-comentarios{
  border-bottom: white 1px solid;
  border-radius: 4px;
}
.cont-comentarios img{
  padding: 4%;
}

/* Querie para celulares */
@media (max-width:420px) {

  }
}
